// navbar-top
.nav-badge {
    width: 22px;
    height: 18px;
    font-size: 12px;
    line-height: 0;
}





// footer 
.banner {
    background: url(https://i.imgur.com/kZS7NN7.jpg) no-repeat center;
    background-size: cover;
    height: 400px;
}
