// 熱門展覽 card
.bg-card-color{
    background: #EFEFEF;
}

.card-img {
    width: 100%;
    height: 100%;
    object-fit:cover;
    object-position: right bottom;
}

.card-text {
    font-family: 'Roboto';
}